{% extends "journal/navbar.html" %}
{% load crispy_forms_tags %}


    {% block content %}
        <div class="container bg-white shadow-md p-5 form-layout ">
            <br>
            <br>
            <h1>Create Thoughts</h1>

            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{CreateThoughtForm|crispy}}
                <br>
                <button class="btn btn-secondary btn-md w-70 btn-block p-4" type="submit">Create thoughts</button>




            </form>

        </div>
        <br>

    {% endblock %}