{% extends "journal/navbar.html" %}

    {% block content %}
        <div class="container bg-white shadow-md p-5 form-layout ">
            <h3>My Thoughts</h3>

            {% for thought in AllThoughts %}
                <br>
                <h4>{{thought.title}}</h4>
                <br>
                <p>{{thought.content}}</p>
                <a href="{% url 'update-thought' thought.id %}">Update</a>
                <br>
                <a href="{% url 'delete-thought' thought.id %}">Delete</a>
            {% endfor %}

        </div>
        <br>

    {% endblock %}