{% extends "journal/navbar.html" %}
{% load crispy_forms_tags %}


    {% block content %}
        <div class="container bg-white shadow-md p-5 form-layout ">
            <br>
            <br>
            <h1>Update email and name</h1>

            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{UserUpdateForm|crispy}}
                <br>
                <button class="btn btn-secondary btn-md w-70 btn-block p-4" type="submit">Update info</button>




            </form>


        </div>
  <br>
            <div class="container bg-white shadow-md p-5 form-layout ">
            <br>
            <br>
            <h1>Update Profile Picture</h1>

            <form method="POST" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {{ProfileUpdateForm|crispy}}


                <br>
                <button class="btn btn-secondary btn-md w-70 btn-block p-4" type="submit">Update picture</button>

            </form>

        </div>


        <br>
        <div class="container bg-white shadow-md p-5 form-layout ">
            <h1>Delete your account</h1>
            <br>
            <a href="{% url 'delete-account' %}">Proceed to delete your account</a>

        </div>

    {% endblock %}